<a href="https://colab.research.google.com/github/AlanVolta/MiCursoIPN/blob/master/Ejercicios_Sesi%C3%B3n1_Resueltos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ejercicio 1:** Se tiene la siguiente lista de valores:

lista_ = [1,2,3,4,5,6,6, [2,4,5,6,7,8,9], 'hola', 45]

Necesitamos extraer de la lista anidada todos los valores que sean menores a 7 ya que son de vital importancia para generar un diccionario de datos.

In [ ]:
lista_ = [1,2,3,4,5,6,6, [2,4,5,6,6,5,4,3,2,1,5,6,7,8,9], 'hola', 45]

def get_values_mix_list(lista):

  for i in range(0, len(lista)):
    if type(lista[i]) == list:
      data_extraido = lista[i]
      lista_menor_siete = []
      for j in range(0,len(data_extraido)):
        if data_extraido[j] < 7:
          lista_menor_siete.append(data_extraido[j])
  return lista_menor_siete

get_list = get_values_mix_list(lista_)
#Los siguientes comentario se corre cuando se obtenga la lista para evaluar si corresponde al resultado dado
result = [2, 4, 5, 6, 6, 5, 4, 3, 2, 1, 5, 6]
print(result == get_list)

True

**Ejercicio 2**: Generar una función para que los valores obtenidos en la lista pasen a formar parte de un diccionario que nos ayude a hacer consultas de los valores que se encuentran en esta estructura de datos.

In [ ]:
diccionario_result = {0: 2, 1: 4, 2: 5, 3: 6, 4: 6, 5: 5, 6: 4, 7: 3, 8: 2, 9: 1, 10: 5, 11: 6}

def create_dict(lista):

  dic = {}
  keys = range(len(lista))
  for i in keys:
    dic[i] = lista[i]

  return dic
  
#Los siguientes comentario se corre cuando se obtenga la lista para evaluar si corresponde al resultado dado
#diccionario_result = {0: 2, 1: 4, 2: 5, 3: 6, 4: 6, 5: 5, 6: 4, 7: 3, 8: 2, 9: 1, 10: 5, 11: 6}
print(diccionario_result == create_dict(get_list))

True

In [ ]:
diccionario = create_dict(get_list)

In [ ]:
diccionario

{0: 2, 1: 4, 2: 5, 3: 6, 4: 6, 5: 5, 6: 4, 7: 3, 8: 2, 9: 1, 10: 5, 11: 6}

#**Objetos web: JSON**

JSON, de JavaScript Object Notation, es un estándar de formato para contenidos en la web. La notación describe el formato agrupado de los objetos a través de [] y {}, lo que hace que sea muy similar a trabajar con listas y diccionarios de manera conjunta.

Este es un estándar muy utilizado en la actualidad para comunicar procesos y servicios a través de la web.

**Ejercicio 3**. Se hizo una petición http y se obtiene la siguiente información en un conjunto de lista y diccionario, necesito obtener cierta información de alto valor para relizar un modelo que nos ayude a identificar objetos en una imágen, obtenga los valores de la key 'object' y almacenelos en una lista para su posterior análisis.

In [4]:
cognitive_response = [
  {
    "rectangle": {
      "x": 6,
      "y": 390,
      "w": 48,
      "h": 40
    },
    "object": "footwear",
    "confidence": 0.513
  },
  {
    "rectangle": {
      "x": 104,
      "y": 104,
      "w": 127,
      "h": 323
    },
    "object": "person",
    "confidence": 0.763
  },
  {
    "rectangle": {
      "x": 174,
      "y": 236,
      "w": 113,
      "h": 74
    },
    "object": "Laptop",
    "parent": {
      "object": "computer",
      "confidence": 0.56
    },
    "confidence": 0.553
  },
  {
    "rectangle": {
      "x": 351,
      "y": 331,
      "w": 154,
      "h": 99
    },
    "object": "seating",
    "confidence": 0.525
  },
  {
    "rectangle": {
      "x": 0,
      "y": 101,
      "w": 174,
      "h": 329
    },
    "object": "person",
    "confidence": 0.855
  },
  {
    "rectangle": {
      "x": 223,
      "y": 99,
      "w": 199,
      "h": 322
    },
    "object": "person",
    "confidence": 0.725
  },
  {
    "rectangle": {
      "x": 154,
      "y": 191,
      "w": 387,
      "h": 218
    },
    "object": "seating",
    "confidence": 0.679
  },
  {
    "rectangle": {
      "x": 111,
      "y": 275,
      "w": 264,
      "h": 151
    },
    "object": "table",
    "confidence": 0.601
  }
]

In [6]:

cognitive_response[0]['object']

'footwear'

In [9]:
def get_object():
  l = []
  for i in range(0, len(cognitive_response)):
    l.append(cognitive_response[i]['object'])
  return l

##real_list_objects = ['footwear', 'person', 'Laptop', 'seating', 'person', 'person', 'seating', 'table']
###print(list_objects == real_list_objects )

In [12]:
real_list_objects = ['footwear', 'person', 'Laptop', 'seating', 'person', 'person', 'seating', 'table']
print(l == real_list_objects )

True